*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkslateblue;
}

h1{
    text-align: center;
    padding: 30px;
    color: white;
}

img{
    width: 200px;
    height: 200px;   
    margin-top: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px;
    padding: 20px;
    background-color: aliceblue;    
}

.box{
    border: solid 2px gray;
    margin-top: 10px;
    margin-left: 10px;    
    flex-basis: 20%;
    flex-grow: 1;
}

